.git
.github
.next
.vscode
node_modules
coverage
.env*
.eslintrc*
.prettierrc*
README.md
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
.idea
dist
build
.turbo 